<section id="about" class="about-wrapper">
  <h2 class="SectionTitle">About</h2>
  <div class="about">
    <div class="about-image">
      <app-carousel></app-carousel>
    </div>
    <div class="about-content">
      <div class="about-card">
        <img src="assets/images/Frontend.png" alt="Frontend" />
        <div class="about-card-content">
          <h3>Frontend Dev</h3>
          <p>Create the visual and interactive parts of a website or app that users see and engage with.</p>
        </div>
      </div>
      <div class="about-card">
        <img src="assets/images/Backend.png" alt="Backend" />
        <div class="about-card-content">
          <h3>Backend Dev</h3>
          <p>Build and maintain the server, database, and logic that power the application behind the scenes.</p>
        </div>
      </div>
      <div class="about-card">
        <img src="assets/images/FullStack.png" alt="Full-Stack" />
        <div class="about-card-content">
          <h3>Full-Stack Dev</h3>
          <p>Handle both frontend and backend, integrating user interfaces with server-side functionality.</p>
        </div>
      </div>
    </div>
  </div>
</section>
