.portfolioContainer {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  background: linear-gradient(0deg, rgba(16, 16, 16) 0%, rgb(82, 82, 82) 100%);

  overflow: hidden;
}

.projects {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px 0;
  position: relative;
  text-align: center;
}

.project {
  width: 100%;
  position: relative;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.9);
}

.project::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%; /* Встановлює розмір на весь контейнер */
  background: linear-gradient(0deg, #c2c2c2, transparent);
  top: 0;
  left: 0;
}

.projectText {
  width: 80%;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0, 0.7);
  padding: 10px 20px;
  z-index: 1;
}

.gitLink {
  display: flex;
  align-items: center;
  gap: 20px;
}

.gitLink a {
  display: flex;
  color: rgb(0, 0, 0, 0.7);
  align-items: center;
  text-decoration: none;
}

.gitLink i {
  font-size: 22px;
  height: 40px;
  width: 40px;
  color: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.6s;
}

.gitLink i:hover {
  transform: translateY(-5px);
  background-color: var(--primary-color-2);
  color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.9);
}

.navButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
}

.prevButton,
.nextButton {
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 20px;
  cursor: pointer;
  font-size: 26px;
  transition: 0.3s;
}

@media screen and (max-width: 900px) {
  .projectText p {
    display: none;
  }

  .projectText h3 {
    display: none;
  }

  .projectText {
    width: 100%;
    top: 75%;
    left: 50%;
  }

  .gitLink i {
    font-size: 16px;
    height: 30px;
    width: 30px;
  }

  .gitLink a {
    font-size: 12px;
    height: 30px;
  }

  .gitLink i:hover {
    transform: translateY(0px);
  }
}
