.projectImage img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  background-color: white;
  transition: transform 0.4s ease-in-out;
}

.hovered img {
  transform: scale(1.05);
}

.projectText h3 {
  color: black !important;
}

/* Забезпечує чорний текст, навіть якщо Bootstrap перезаписує */
.darkCaption h3,
.darkCaption p {
  background: linear-gradient(90deg, rgb(0, 0, 0) 40%, rgb(133, 133, 133) 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Забезпечує чорний текст, навіть якщо Bootstrap перезаписує */
.lightCaption h3,
.lightCaption p {
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 30%,
    rgb(116, 116, 116) 70%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 1400px) {
    .projectImage img {
        height: 800px; 
    } 
}

@media screen and (max-width: 1200px) {
    .projectImage img {
        height: 600px; 
    } 
}

@media screen and (max-width: 900px) {
    .projectImage img {
        height: 500px; 
    } 
}

@media screen and (max-width: 768px) {
    .projectImage img {
        height: 400px; 
    } 
}

@media screen and (max-width: 468px) {
    .projectImage img {
        height: 250px; 
    } 
}
