<div class="nav">
  <div class="logo">
    <a href="#">Borys Burdeinyi</a>
  </div>

  <ul #menu [class.openMenu]="menuOpen">
    <li><a href="#home" (click)="closeMenu()">Home</a></li>
    <li><a href="#about" (click)="closeMenu()">About</a></li>
    <li><a href="#approach" (click)="closeMenu()">Approach</a></li>
    <li><a href="#services" (click)="closeMenu()">Services</a></li>
    <li><a href="#projects" (click)="closeMenu()">Projects</a></li>
    <li><a href="#contact" (click)="closeMenu()">Contact</a></li>
  </ul>

  <i class="ri-menu-4-line bars" (click)="toggleMenu()"></i>
</div>