@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumar+One&display=swap");

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;

  text-decoration: none;
  list-style: none;

  font-family: "IBM Plex sans";
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-y: auto;
  overflow-x: hidden; /* Запобігає горизонтальному скролу */
}

#root {
  min-height: 100vh; /* Забезпечує мінімальну висоту рівну висоті вікна */
  display: flex;
  flex-direction: column;
}

:root {
  --primary-color: hsl(0, 0%, 90%);
  --primary-color-2: #6d6d6d;
  --logo-size: 480px;
}

body {
  background-color: #0a0a0a;
  z-index: 1;
}

section {
  display: flex;
  flex-direction: column;
  padding: 50px 5%;
}

.SectionTitle {
  width: 100%;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
  background: linear-gradient(
    90deg,
    var(--primary-color-2) 40%,
    var(--primary-color) 60%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
